<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ReactJS + Spring Data REST</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <style>
    html, body, #react {  height:100%;}
  </style>
  <script th:inline="javascript">
    const authenticatedManager = [[${#authentication.name}]]
  </script>
</head>
<body>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>